<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.groceryApp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".RestaurantDetailActivity"
            android:theme="@style/AppTheme2"/>
        <activity
            android:name=".currentOrderInfo"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".myOrders"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".checkoutPayment"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".myAddress"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".myAccount"
            android:theme="@style/AppThemeMaterial" />
        <activity android:name=".searchBar" />
        <activity android:name=".itemList" />
        <activity android:name=".subCategory" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>